.bg-transition {
  transition: opacity 1s ease-in-out;
}

.nav-link {
  @apply px-4 py-2 hover:text-pink-500 transition-colors duration-300;
  letter-spacing: 2px;
}

.social-icon {
  @apply w-8 h-8 text-white hover:text-pink-200 transition-colors duration-300 flex items-center justify-center;
}

@media (max-width: 932px) {
  .nav-link {
    @apply block w-full text-center py-3;
  }
}

@keyframes color-change {
  0% {
    background-color: #f8a0ce; /* Color inicial (pink-500 de Tailwind, aproximadamente) */
  }

  100% {
    background-color: #dd0072; /* Vuelve al color inicial */
  }
}

.animate-color-button {
  animation: color-change 1.5s infinite alternate; /* Aplica la animación */
}


/* Estilos para las transiciones de fade-in */
.fade-in-image {
  opacity: 0; /* Inicialmente invisible */
  transition: opacity 1s ease-in-out; /* Transición suave de opacidad en 1 segundo */
}

.fade-in-image.visible {
  opacity: 1; /* Visible cuando se añade la clase 'visible' */
}

/* Clases para aplicar las animaciones */
.slide-in-left {
  animation: slide-in-left 1.5s ease-out forwards;
}

.slide-in-right {
  animation: slide-in-right 1.5s ease-out forwards;
}

.fade-in-up {
  animation: fade-in-up 1.5s ease-out forwards;
}
.slide-in-left-animation{
    transform: translateX(-100%);
    opacity: 0;
}
.slide-in-left-animation.visible{
    transform: translateX(0);
    opacity: 1;
}
.slide-in-right-animation{
    transform: translateX(100%);
    opacity: 0;
}
.slide-in-right-animation.visible{
    transform: translateX(0);
    opacity: 1;
}

.fade-in-up-animation {
    transform: translateY(20px);
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.fade-in-up-animation.visible {
    transform: translateY(0);
    opacity: 1;
}

.fade-in-text{ /*Add this to the CSS*/
  opacity: 0;
}

.fade-in-image{/*Add this to the CSS*/
  opacity: 0;
}

.visible {
  opacity: 1 !important;
}

.fade-in-text {
  opacity: 0;
  transition: opacity 1.5s ease-in-out; /* Transición para opacidad y posición */
}

.fade-in-text.visible {
    opacity: 1;
}


/*Efecto para los modales*/
.sr-hidden {
  opacity: 0;
  visibility: hidden;
}

.modal-animation { /*Nueva clase para la animacion de los modales*/
  animation: modal-fade-in 0.3s ease-in-out;
}

@keyframes modal-fade-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.tab-content-animation{/*Nueva clase para las pestañas de los modales*/
  animation: tab-content-fade-in 0.3s ease-in-out;
}

@keyframes tab-content-fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

