/* ==================
  Base Styles
================== */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mr+De+Haviland&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ==================
   General Styles
================== */
.bg-transition {
  transition: opacity 1s ease-in-out;
}
/* ==================
Nav Links Styles
================== */
.nav-link {
  @apply px-4 py-2 hover:text-pink-500 transition-colors duration-300;
  letter-spacing: 2px;
}

@media (max-width: 932px) {
  .nav-link {
    @apply block w-full text-center py-3;
  }
}

/* ==================
Social Icons Styles
================== */
.social-icon {
  @apply w-8 h-8 text-white hover:text-pink-200 transition-colors duration-300 flex items-center justify-center;
}

/* ==================
Animation Styles
================== */
/*Animacion del boton*/
@keyframes color-change {
  0% {
    background-color: var(--color-secondary); /* Color inicial (pink-500 de Tailwind, aproximadamente) */
  }

  100% {
    background-color: var(--color-primary); /* Vuelve al color inicial */
  }
}

.animate-color-button {
  animation: color-change 1.5s infinite alternate; /* Aplica la animación */
}

/* Transicion de fade-in */
.fade-in-image {
  opacity: 0; /* Inicialmente invisible */
  transition: opacity 1s ease-in-out; /* Transición suave de opacidad en 1 segundo */
}

.fade-in-image.visible {
  opacity: 1; /* Visible cuando se añade la clase 'visible' */
}

/* Transicion de fade-in text */
.fade-in-text {
  opacity: 0;
  transition: opacity 1.5s ease-in-out; /* Transición para opacidad y posición */
}

.fade-in-text.visible {
  opacity: 1;
}

/*Animaciones de entradas*/
@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-left {
  animation: slide-in-left 1.5s ease-out forwards;
}

@keyframes slide-in-right {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
.slide-in-right {
  animation: slide-in-right 1.5s ease-out forwards;
}

@keyframes fade-in-up{
    from {
        transform: translateY(20px);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
  }

.fade-in-up {
  animation: fade-in-up 1.5s ease-out forwards;
}

.slide-in-left-animation {
  transform: translateX(-100%);
  opacity: 0;
}
.slide-in-left-animation.visible {
  transform: translateX(0);
  opacity: 1;
}
.slide-in-right-animation {
  transform: translateX(100%);
  opacity: 0;
}
.slide-in-right-animation.visible {
  transform: translateX(0);
  opacity: 1;
}

.fade-in-up-animation {
  transform: translateY(20px);
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.fade-in-up-animation.visible {
  transform: translateY(0);
  opacity: 1;
}

/* ==================
Modal Styles
================== */

.sr-hidden {
  opacity: 0;
  visibility: hidden;
}

.modal-animation {
  /*Nueva clase para la animacion de los modales*/
  animation: modal-fade-in 0.3s ease-in-out;
}

@keyframes modal-fade-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.tab-content-animation {
  /*Nueva clase para las pestañas de los modales*/
  animation: tab-content-fade-in 0.3s ease-in-out;
}

@keyframes tab-content-fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* ==================
Important Styles
================== */

.visible-important {
  opacity: 1;
}


/* Estilos para los marcadores del carrusel */
.slick-dots {
  position: relative; /* Cambiamos a posición relativa */
  bottom: 0; /* Eliminamos la posición vertical */
  display: block;
  width: fit-content; /* Limitamos el ancho al contenido */
  padding: 0;
  margin: 0 auto; /* Centramos horizontalmente */
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 10px; /* Ajusta el ancho de los marcadores */
  height: 10px; /* Ajusta la altura de los marcadores */
  margin: 0 5px; /* Ajusta el margen entre los marcadores */
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 10px; /* Ajusta el ancho de los marcadores */
  height: 10px; /* Ajusta la altura de los marcadores */
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 10px; /* Ajusta el tamaño del punto */
  line-height: 10px; /* Ajusta la altura del punto */
  position: absolute;
  top: 0;
  left: 0;
  width: 10px; /* Ajusta el ancho del punto */
  height: 10px; /* Ajusta la altura del punto */
  content: "•";
  text-align: center;
  opacity: 0.5;
  color: #000; /* Ajusta el color de los marcadores inactivos */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #e91e63; /* Ajusta el color del marcador activo */
}

/* Estilos para los marcadores del carrusel en vista movil */
.center {
  position: relative; /* Agregamos posición relativa al contenedor del carrusel */
}

.center .slick-dots {
  background-color: rgba(255, 255, 255, 0.5); /* Fondo blanquecino transparente */
  padding: 5px 10px; /* Padding para que se vea el fondo */
  border-radius: 20px; /* Bordes redondeados */
  margin-top: 30px; /* Agregamos un margen superior */
  position: absolute; /* Agregamos posición absoluta */
  bottom: 25px; /* Ajustamos la posición vertical */
  left: 50%; /* Centramos horizontalmente */
  transform: translateX(-50%); /* Centramos horizontalmente */
}

/* Estilos para el contenedor padre de los marcadores */
.carousel-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: fit-content;
  margin: 0 auto;
}

.carousel-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel-dot.active {
  background-color: #e91e63;
}