@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mr+De+Haviland&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-transition {
  transition: opacity 1s ease-in-out;
}

.nav-link {
  @apply tw-px-4 tw-py-2 hover:tw-text-pink-500 tw-transition-colors tw-duration-300;
  letter-spacing: 2px;
}

.social-icon {
  @apply tw-w-8 tw-h-8 tw-text-white hover:tw-text-pink-200 tw-transition-colors tw-duration-300 tw-flex tw-items-center tw-justify-center;
}

@media (max-width: 768px) {
  .nav-link {
    @apply tw-block tw-w-full tw-text-center tw-py-3;
  }
}

@keyframes color-change {
  0% {
    background-color: #f8a0ce; /* Color inicial (pink-500 de Tailwind, aproximadamente) */
  }

  100% {
    background-color: #dd0072; /* Vuelve al color inicial */
  }
}

.animate-color-button {
  animation: color-change 1.5s infinite alternate; /* Aplica la animación */
}
